table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 8px;
}

th {
    color: white;
    background-color: #9d9d9d;
    text-align: left;
}