    form {
        background-color: white;
        border-radius: 16px;
        margin: auto;
        width: 500px;
        margin-top: 100px;
        text-align: center;
        padding: 10 10 20 10;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 1.667);
    }

    .email {
        border: none;
        background-color: rgb(255, 255, 255);
        color: black;
        width: 80%;
        outline: none;
    }

    .password {
        outline: none;
        border: none;
        background-color: rgb(255, 255, 255);
        color: black;
        width: 80%;
    }

    .input {
        font-size: 16px;
        padding: 2 2 2 2;
        margin: 2 2 2 2;
        border-bottom: 2px solid rgba(0, 0, 0, 0.567);
        background-color: rgba(255, 255, 255, 0.429);
        color: black;
    }

    .enter {
        background-color: green;
        color: white;
        padding: 10 30 10 30;
        border-radius: 16px;
        border: 0;
        transition: 1s;
    }

    .enter:hover {
        background-color: rgb(21, 121, 21);
        color: white;
        padding: 10 30 10 30;
        border-radius: 16px;
        border: 0;
        cursor: pointer;
        transition: 1s;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 102%;
    }

    .messagem {
        color: red;
        font-weight: bold;
    }

    input:open {
        border: 0px;
    }