<!DOCTYPE html>
<html lang="pt-BR">

<head id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/dark-style.css" id="stylesheet_body">
    <link rel="stylesheet" href="./../static/css/dark-style-tabelas.css">
    <link rel="stylesheet" href="./../static/css/popup_editar.css">
    <link rel="stylesheet" href="./../static/css/dark-style-estoque.css"
        id="stylesheet_body_storage">
    <title>Demo</title>

</head>

<body>
    <header>
        <a href="main.html">Início</a>
        <a href="estoque.html">Estoque</a>
        <a href="funcionario.html">Funcionários</a>
        <a href="maquinario.html">Maquinário</a>
        <a id="theme">Tema: </a>
    </header>

    <section>
        <h1>Estoque</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Localização</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="estoque-gerenciamento" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" value="0" name="id_storage" id="id_storage"></td>
                    <td class="Margin_Padding">
                        <select name="grain" id="form_grain_storage" class="input-value semBack-white">
                            <option value="teste">teste</option>
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <input type="number" name="amount" value="0" class="input-value semBack-white" id="amount_storage">
                    </td>
                    <td class="Margin_Padding">
                        <select name="location" id="form_local_storage" class="input-value semBack-white"></select>
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button" class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            <!--{% for item in list_storage %}
            <tr>
                <td class="Margin_Padding">{{ item.id}}</td>
                <td class="Margin_Padding">{{ item.name }}</td>
                <td class="Margin_Padding" id="quantity_bags_{{item.id}}">{{ item.quantity_bags }}</td>
                <td class="Margin_Padding">{{ item.local }}</td>
                <td class="Margin_Padding">
                    <p id="edit_storage_{{item.id}}_{{item.id_grain}}_{{item.id_location}}">Editar</p>
                    <hr>
                    <p id="delete_storage_{{item.id}}">Excluir</p>
                </td>
            </tr>
            {% endfor %}-->

            
            {% for item in list_storage %}
            <tr>
                <td class="Margin_Padding">{{ item.id}}</td>
                <td class="Margin_Padding">{{ item.name }}</td>
                <td class="Margin_Padding" id="quantity_bags_{{item.id}}">{{ item.quantity_bags }}</td>
                <td class="Margin_Padding">{{ item.local }}</td>
                <td class="Margin_Padding">
                    <p class="btn_edit"
                    data-id="{{ item.id }}"
                    data-name="{{ item.name }}"
                    data-quantity="{{ item.quantity_bags }}"
                    data-local="{{ item.local }}">
                    Editar
                    </p>
                    <hr>
                    <p id="delete_storage_{{item.id}}">Excluir</p>
                </td>
            </tr>
            {% endfor %}

        </table>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>

    <div id="popup_edit" class="popup">
        <div class="popup_content">
            <div class="popup_header">
                <h3>Editar Armazenamento</h3>
                <span id="close_popup">&times;</span>
            </div>

            <form id="form_edit">
                <input type="hidden" id="edit_id">

                <label>Nome</label>
                <input type="text" id="edit_name">

                <label>Sacos</label>
                <input type="number" id="edit_quantity_bags">

                <label>Local</label>
                <input type="text" id="edit_local">

                <button type="submit" class="btn-save-popup">Salvar</button>
            </form>
        </div>
    </div>

    <script>
        /*popup inicio*/

        const popup = document.getElementById("popup_edit");
        const closePopup = document.getElementById("close_popup");

        document.querySelectorAll(".btn_edit").forEach(btn => {
            btn.addEventListener("click", () => {
            document.getElementById("edit_id").value = btn.dataset.id;
            document.getElementById("edit_name").value = btn.dataset.name;
            document.getElementById("edit_quantity_bags").value = btn.dataset.quantity;
            document.getElementById("edit_local").value = btn.dataset.local;

            popup.style.display = "block";
            });
        });

        closePopup.onclick = () => popup.style.display = "none";
        window.onclick = e => { if(e.target == popup) popup.style.display = "none"; };

        /*popup fim*/
        /*
        document.querySelectorAll("[id^='edit_storage_']").forEach(item => {
            item.addEventListener("click", event => {
                const id = item.id.split("_")[2];
                if (id) {
                    const id_storage = document.getElementById("id_storage");
                    id_storage.value = id;

                    const amount_storage = document.getElementById("amount_storage")
                    amount_storage.value = parseInt(document.getElementById(`quantity_bags_${id}`).innerText);
                    
                    
                    const btn_submit = document.getElementById("btn-submit");
                    btn_submit.value = "Editar";

                    const list_grains = {{ list_grains | tojson }};
                    const grain_storage = document.getElementById("form_grain_storage");
                    const selected_id_grain = parseInt(item.id.split("_")[3]);
                    grain_storage.innerHTML = list_grains.map(g =>
                        `<option value="${g.id_grain}" ${g.id_grain === selected_id_grain ? 'selected' : ''}>${g.name}</option>`
                    ).join('');

                    const list_locations = {{ locations | tojson }};
                    const local_storage = document.getElementById("form_local_storage");
                    const selected_id_local = parseInt(item.id.split("_")[4]);
                    local_storage.innerHTML = list_locations.map(l =>
                        `<option value="${l.id_storage_location}" ${l.id_storage_location === selected_id_local ? 'selected' : ''}>${l.name}</option>`
                    ).join('');
                }
            });
        });*/

        document.getElementById("form_grain_storage").innerHTML = `
            {% for grain in list_grains %}
                <option value="{{ grain.id_grain }}">{{ grain.name }}</option>
            {% endfor %}
        `;

        document.getElementById("form_local_storage").innerHTML = `
            {% for location in locations %}
                <option value="{{ location.id_storage_location }}">{{ location.name }}</option>
            {% endfor %}
        `

        document.querySelectorAll("[id^='delete_storage_']").forEach(item => {
            item.addEventListener("click", event => {
                alert("O item será removido do estoque.");
                const id = item.id.split("_")[2];
                if (id !== null) {
                    const id_storage = document.getElementById("id_storage");
                    id_storage.value = id;
                    const btn_submit = document.getElementById("btn-submit");
                    btn_submit.value = "Remover";
                    btn_submit.click();
                }
            });
        });

        document.getElementById("theme").addEventListener("click", () => {
            if (localStorage.getItem("theme") === "dark") {
                localStorage.setItem("theme", "light");
            } else {
                localStorage.setItem("theme", "dark");
            }
            location.reload();
        });

        console.log(localStorage.getItem("theme"))
        if (localStorage.getItem("theme") == "dark") {
            console.log("Dark mode activated");
            document.getElementById("theme").innerText = "Tema: Escuro";
            document.getElementById("stylesheet_body").href =
                `{{url_for('static', filename='css/dark-style.css')}}`;
            document.getElementById("stylesheet_body_storage").href =
                `{{url_for('static', filename='css/dark-style-estoque.css')}}`;
        } else {
            document.getElementById("theme").innerText = "Tema: Claro";
            document.getElementById("stylesheet_body").href =
                `{{url_for('static', filename='css/style.css')}}`;
            document.getElementById("stylesheet_body_storage").href =
                `{{url_for('static', filename='css/style-estoque.css')}}`;
        }
    </script>
</body>

</html>