<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/style.css" id="stylesheet_body">
    <link rel="stylesheet" href="./../static/css/dark-style-tabelas.css">
    <title>Fazenda Porteira Azul</title>

</head>

<body>
    <header>
        <a href="main">Início</a>
        <a href="estoque">Estoque</a>
        <a href="funcionario">Funcionários</a>
        <a href="maquinario">Maquinário</a>
        <a href="producao">Produção</a>
        <a href="bolsa">Bolsa / Cotação</a>
        <a id="theme">Tema: </a>
    </header>

    <section>
        <h1>Registro de Cotações</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Preço por Saco de 60Kg</th>
                <th>Data da cotação</th>
                <th>Observação</th>
                <th>Grão</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="maquinario-gerenciamento" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" value="0" name="id_machinery_usage" id="id_machinery_usage"></td>
                    <td class="Margin_Padding">
                        <input type="text" name="price_per_bag" value="" class="input-value semBack-white" id="name">
                    </td>
                    <td class="Margin_Padding">
                        <input type="date" name="quote_date" value="" class="input-value semBack-white" id="type">
                    </td>
                    <td class="Margin_Padding">
                        <input type="text" name="observation" value="" class="input-value semBack-white" id="type">
                    </td>
                    <td class="Margin_Padding">
                        <select name="id_grain_fk" id="id_grain_fk" class="input-value semBack-white">
                            {% for item in machinery_list %}
                            <option value="{{ item.id_machinery }}">{{ item.model }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button"
                            class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            {% for item in list_marketquotes %}
            <tr>
                <td class="Margin_Padding">{{ item.id_market_quotes}}</td>
                <td class="Margin_Padding">{{ item.price_per_bag }}</td>
                <td class="Margin_Padding">{{ item.quote_date }}</td>
                <td class="Margin_Padding">{{ item.observation }}</td>
                <td class="Margin_Padding">{{ item.grain }}</td>
                <td class="Margin_Padding">
                    <p id="">Editar</p>
                    <hr>
                    <p id="">Excluir</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        {% if cotacao[0][0]['municipality'] != None %}
        <h1>Cotação atual do café cereja (60Kg por saco)</h1>
        <h2>{{cotacao[0][0]['municipality']}} | R${{cotacao[0][0]['price_br']}}</h2>
        <div class="calc">
            Kg de café cereja
            <input type="number" value="0">
            <script>
                const inputKg = document.querySelector('input[type="number"]');
                inputKg.addEventListener('input', () => {
                    if (inputKg.value < 0) {
                        inputKg.value = 0;
                    }
                });
            </script>
            x 
            <select name="" id="">
                <option value="1">100%</option>
                <option value="1.25">125%</option>
                <option value="1.50">150%</option>
                <option value="1.75">175%</option>
                <option value="2.00">200%</option>
                <option value="2.50">250%</option>
                <option value="2.75">275%</option>
                <option value="3.00">300%</option>
            </select>
            = R$ <span id="resultado_cotacao">0.00</span>
            <input type="button" class="button-submit" value="Calcular" onclick="atualizarResultado()">
            <script>
                const inputNumero = document.querySelector('input[type="number"]');
                const selectMultiplicador = document.querySelector('select');
                const resultadoCotacao = document.getElementById('resultado_cotacao');
                function atualizarResultado() {
                    let numero = parseFloat(inputNumero.value) || 0;
                    let multiplicador = parseFloat(selectMultiplicador.value) || 1;
                    let resultado = (numero/60) * multiplicador * {{cotacao[0][0]['price']}};
                    resultadoCotacao.textContent = resultado.toFixed(2);
                }
            </script>
        </div>
        {% else %}
        <h1>Cotação atual do café cereja (60Kg por saco)</h1>
        <h2>-- OFFLINE --</h2>
        {% endif %}
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>

</html>