<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Css/style.css">
    <title>Fazenda Porteira Azul</title>

</head>

<body>

    <main>
        
        <section style="margin-top: 50%;">
            <h1>Erro 404</h1>
            <p>Aconteceu algo de errado clique <a href="demo-main.html">aqui</a> para voltar ao início</p>
        </section>

    </main>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JESF Technology - LuSiR Databases - LRC WebDev - LuFeSTAP
            Documents </p>
    </footer>
</body>

</html>