<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/style-estoque.css">
    <title>Fazenda Porteira Azul</title>

</head>

<body>
    <header>
        <a href="main.html">Início</a>
        <a href="estoque.html">Estoque</a>
        <a href="funcionario.html">Funcionários</a>
        <a href="">Maquinário</a>
    </header>

    <section>
        <h1>Estoque</h1>
        <table>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
            </tr>
            <tr>
                <td>Milho</td>
                <td>1500 kg</td>
                <td>R$ 2,50</td>
            </tr>
            <tr>
                <td>Soja</td>
                <td>800 kg</td>
                <td>R$ 3,20</td>
            </tr>
            <tr>
                <td>Trigo</td>
                <td>600 kg</td>
                <td>R$ 4,00</td>
            </tr>
        </table>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>
</body>

</html>