<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/dark-style.css">
    <link rel="stylesheet" href="./../static/css/dark-style-funcionario.css">
    <link rel="stylesheet" href="./../static/css/dark-style-tabelas.css">
    <title>Fazenda Porteira Azul</title>
</head>

<body>
    <header>
        <a href="main">Início</a>
        <a href="estoque">Estoque</a>
        <a href="funcionario">Funcionários</a>
        <a href="maquinario">Maquinário</a>
        <a id="theme">Tema: </a>
    </header>

    <section>
        <h1>Funcionários</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
            {% for item in list_employees %}
            <tr>
                <td class="Margin_Padding">{{ item.id}}</td>
                <td class="Margin_Padding">{{ item.name }}</td>
                <td class="Margin_Padding">{{ item.email }}</td>
                <td class="Margin_Padding">{{ item.job }}</td>
                <td class="Margin_Padding"><a class="Link_Send_Email_Td" href="mailto:{{ item.email }}">Enviar email</a></td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>

    <script>

        console.log(localStorage.getItem("theme"))
        if (localStorage.getItem("theme") == "dark") {
            console.log("Dark mode activated");
            document.getElementById("theme").innerText = "Tema: Escuro";
            document.getElementById("stylesheet_body").href =
                `{{url_for('static', filename='css/dark-style.css')}}`;
            document.getElementById("stylesheet_body_storage").href =
                `{{url_for('static', filename='css/dark-style-estoque.css')}}`;
        } else {
            document.getElementById("theme").innerText = "Tema: Claro";
            document.getElementById("stylesheet_body").href =
                `{{url_for('static', filename='css/style.css')}}`;
            document.getElementById("stylesheet_body_storage").href =
                `{{url_for('static', filename='css/style-estoque.css')}}`;
        }
    </script>

</body>

</html>