<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/style-funcionario.css">
    <title>Fazenda Porteira Azul</title>

</head>

<body>
    <header>
        <a href="main.html">Início</a>
        <a href="estoque.html">Estoque</a>
        <a href="funcionario.html">Funcionários</a>
        <a href="">Maquinário</a>
    </header>

    <section>
        <h1>Funcionários</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>Ações</th>
            </tr>
            <tr>
                <td><input type="text" value="?" class="input-value" id="input_id" disabled></td>
                <td><input type="text" name="name" class="input-value" id="input_name"></td>
                <td><input type="text" name="cargo" class="input-value" id="input_cargo"></td>
                <td><input type="number" name="saalrio" class="input-value" id="input_salario"></td>
                <input type="hidden" name="id" id="hidden_id" value="cadastrar">
                <td><input type="submit" class="button-submit" value="Salvar" onclick="salvar()"></td>
            </tr>
        </table>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>

    <script>

        var lista = [
            { id: 1, nome: "João Silva", cargo: "Gerente", salario: 4500 },
            { id: 2, nome: "Maria Oliveira", cargo: "Assistente Administrativo", salario: 2800 },
            { id: 3, nome: "Carlos Souza", cargo: "Técnico de Manutenção", salario: 3200 },
            { id: 4, nome: "Ana Pereira", cargo: "Analista de Marketing", salario: 3600 }
        ]

        const tabela = document.querySelector("table");

        for (let i = 0; i < lista.length; i++) {
            tabela.innerHTML += `
                <tr>
                    <td>${lista[i].id}</td>
                    <td>${lista[i].nome}</td>
                    <td>${lista[i].cargo}</td>
                    <td>R$ ${lista[i].salario.toFixed(2).replace(".", ",")}</td>
                    <td><span class="btn-editar" onclick="editar(${lista[i].id})">Editar</span></td>
                </tr>
            `;

        }

        function editar(id) {
            const resultado = pesquisar(id)
            if (resultado) {
                document.getElementById("hidden_id").value = "atualizar";
                document.getElementById("input_id").value = resultado.id;
                document.getElementById("input_name").value = resultado.nome;
                document.getElementById("input_cargo").value = resultado.cargo;
                document.getElementById("input_salario").value = resultado.salario;
            } else {
                alert("Funcionário não encontrado.");
            }
        }

        function pesquisar(id) {
            for (let i = 0; i < lista.length; i++) {
                if (lista[i].id === id) {
                    return lista[i];
                }
            }
            return null;
        }

        function atualizarLista(id, nome, cargo, salario) {
            for (let i = 0; i < lista.length; i++) {
                if (lista[i].id === id) {
                    lista[i].nome = nome;
                    lista[i].cargo = cargo;
                    lista[i].salario = salario;
                    return true;
                }
            }
            return false;
        }

        function salvar() {
            const id = parseInt(document.getElementById("input_id").value);
            const nome = document.getElementById("input_name").value;
            const cargo = document.getElementById("input_cargo").value;
            const salario = parseFloat(document.getElementById("input_salario").value);

            if (!id || !nome || !cargo || !salario) {
                return alert("Por favor, preencha todos os campos corretamente.");
            }

            if (atualizarLista(id, nome, cargo, salario)) {
                alert("Funcionário atualizado com sucesso.");
            } else {
                alert("Funcionário não encontrado.");
            }
            load()
            limparCampos();
        }

        function load() {
            tabela.innerHTML = `
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Salário</th>
                    <th>Ações</th>
                </tr>
            `;

            tabela.innerHTML += `
                <tr>
                    <td><input type="text" value="?" class="input-value" id="input_id" disabled></td>
                    <td><input type="text" name="name" class="input-value" id="input_name"></td>
                    <td><input type="text" name="cargo" class="input-value" id="input_cargo"></td>
                    <td><input type="number" name="saalrio" class="input-value" id="input_salario"></td>
                    <input type="hidden" name="id" id="hidden_id" value="cadastrar">
                    <td><input type="submit" class="button-submit" value="Salvar"></td>
                </tr>
            `;

            for (let i = 0; i < lista.length; i++) {
                tabela.innerHTML += `
                    <tr>
                        <td>${lista[i].id}</td>
                        <td>${lista[i].nome}</td>
                        <td>${lista[i].cargo}</td>
                        <td>R$ ${lista[i].salario.toFixed(2).replace(".", ",")}</td>
                        <td><span class="btn-editar" onclick="editar(${lista[i].id})">Editar</span></td>
                    </tr>
                `;
            }
        }

        function limparCampos() {
            document.getElementById("input_id").value = "?";
            document.getElementById("input_name").value = "";
            document.getElementById("input_cargo").value = "";
            document.getElementById("input_salario").value = "";
        }
    </script>
</body>

</html>