<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/style.css" id="stylesheet_body">
    <script src="componentes/header.js" type="text/javascript" defer></script>
    <title>Fazenda Porteira Azul</title>

</head>

<body>
    <header>
        <a href="main">Início</a>
        <a href="estoque">Estoque</a>
        <a href="funcionario">Funcionários</a>
        <a href="maquinario">Maquinário</a>
        <a href="producao">Produção</a>
        <a href="bolsa">Bolsa / Cotação</a>
        <a id="theme">Tema: </a>
    </header>

    <section>
        <h1>📘 Tutorial de Uso</h1>
        <iframe src="https://www.youtube.com/embed/NWO6SEpYuwM?si=L6i2EGHPikwzk5Rj" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JESF Technology - LuSiR Databases - LRC WebDev - LuFeSTAP
            Documents </p>
    </footer>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>