<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/style.css" id="stylesheet_body">
    <link rel="stylesheet" href="./../static/css/dark-style-tabelas.css">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/x-icon">
    <title>Fazenda Porteira Azul</title>

</head>

<body>
    <header>
        <a href="main">Início</a>
        <a href="estoque">Estoque</a>
        <a href="funcionario">Funcionários</a>
        <a href="maquinario">Maquinário</a>
        <a href="producao">Produção</a>
        <a href="bolsa">Bolsa / Cotação</a>
        <a href="contato">Contato</a>
        <a id="theme">Tema: </a>
    </header>

    <section>
        <h1>Uso do Maquinário</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Data de uso</th>
                <th>Horas</th>
                <th>Combustivel Gasto</th>
                <th>Observações</th>
                <th>Máquina</th>
                <th>Funcionário</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="maquinario-gerenciamento-uso" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" value="0" name="id_machinery_usage" id="id_machinery_usage"></td>
                    <td class="Margin_Padding">
                        <input type="date" name="usage_date" id="usage_date">
                    </td>
                    <td class="Margin_Padding">
                        <input type="number" name="hours_usage" value="0" class="input-value semBack-white"
                            id="hours_usage">
                    </td>
                    <td class="Margin_Padding">
                        <input type="number" name="fuel_consumed" value="0" class="input-value semBack-white"
                            id="fuel_consumed">
                    </td>
                    <td class="Margin_Padding">
                        <input type="text" name="observation" value="" class="input-value semBack-white"
                            id="observation">
                    </td>
                    <td class="Margin_Padding">
                        <select name="id_machinery_fk" id="id_machinery_fk" class="input-value semBack-white">
                            {% for item in machinery_list %}
                            <option value="{{ item.id_machinery }}">{{ item.model }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <select name="id_employee_fk" id="id_employee_fk" class="input-value semBack-white">
                            {% for item in employee_list %}
                            <option value="{{ item.id_employee }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button"
                            class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            {% for item in list_machineryusage %}
            <tr>
                <td class="Margin_Padding">{{ item.id_machinery_usage}}</td>
                <td class="Margin_Padding">{{ item.usage_date }}</td>
                <td class="Margin_Padding" id="quantity_bags_{{item.id}}">{{ item.hours_usage }}</td>
                <td class="Margin_Padding">{{ item.fuel_consumed }}</td>
                <td class="Margin_Padding">{{ item.observation }}</td>
                <td class="Margin_Padding">{{ item.machinery }}</td>
                <td class="Margin_Padding">{{ item.employees }}</td>
                <td class="Margin_Padding">
                    <p class="btn_edit_machinery_usage" data-id="{{ item.id_machinery_usage }}"
                        data-usage_date="{{ item.usage_date }}" data-hours_usage="{{ item.hours_usage }}"
                        data-fuel_consumed="{{ item.fuel_consumed }}" data-observation="{{ item.observation }}"
                        data-id_machinery="{{ item.id_machinery_usage }}"
                        data-id_employee="{{ item.id_machinery_usage }}">
                        Editar
                    </p>
                    <hr>
                    <p class="p_actions" id="delete_machinery_use_{{item.id_machinery_usage}}">Excluir</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Maquinário</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Total de horas trabalhadas</th>
                <th>Total de combustivel consumido</th>
                <th>Marca do maquinário</th>
                <th>Tipo do maquinário</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="maquinario-gerenciamento" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" value="0" name="id_machinery" id="id_machinery"></td>
                    <td class="Margin_Padding">
                        <input type="text" name="model" value="" class="input-value semBack-white" id="model">
                    </td>
                    <td class="Margin_Padding">
                        <input type="text" name="year" value="" class="input-value semBack-white" id="year">
                    </td>
                    <td class="Margin_Padding">
                        <input type="text" name="total_worked_hours" value="" class="input-value semBack-white"
                            id="total_worked_hours">
                    </td>
                    <td class="Margin_Padding">
                        <input type="text" name="total_fuel_consumption" value="" class="input-value semBack-white"
                            id="total_fuel_consumption">
                    </td>
                    <td class="Margin_Padding">
                        <select name="brand" id="" class="input-value semBack-white">
                            {% for item in list_machinerybrand %}
                            <option value="{{item.id_machinery_brand}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <select name="type" id="" class="input-value semBack-white">
                            {% for item in list_id_machinery_type %}
                            <option value="{{item.id_machinery_type}}">{{item.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button"
                            class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            {% for item in list_machinery %}
            <tr>
                <td class="Margin_Padding">{{ item.id_machinery }}</td>
                <td class="Margin_Padding">{{ item.model }}</td>
                <td class="Margin_Padding">{{ item.year }}</td>
                <td class="Margin_Padding">{{ item.total_worked_hours }}</td>
                <td class="Margin_Padding">{{ item.total_fuel_consumption }}</td>
                <td class="Margin_Padding">{{ item.machinery_brand_fk }}</td>
                <td class="Margin_Padding">{{ item.machinery_type_fk }}</td>
                <td class="Margin_Padding">
                    <p class="btn_edit_machinery" data-id="{{ item.id_machinery }}" data-model="{{ item.model }}"
                        data-year="{{ item.year }}" data-total_worked_hours="{{ item.total_worked_hours }}"
                        data-total_fuel_consumption="{{ item.total_fuel_consumption }}"
                        data-brand="{{ item.machinery_brand_fk }}" data-type="{{ item.machinery_type_fk }}">
                        Editar
                    </p>
                    <hr>
                    <p class="p_actions" id="delete_machinery_all_{{item.id_machinery}}">Excluir</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Máquinas</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="maquinario-gerenciamento-brand" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" name="id_machinery_brand" id="id_machinery_brand_form"></td>
                    <td class="Margin_Padding">
                        <input type="text" name="name" value="" class="input-value semBack-white" id="brand_name">
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button"
                            class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            {% for item in list_machinerybrand %}
            <tr>
                <td class="Margin_Padding">{{ item.id_machinery_brand}}</td>
                <td class="Margin_Padding">{{ item.name }}</td>
                <td class="Margin_Padding">
                    <p class="btn_edit_brand" data-id="{{ item.id_machinery_brand }}" data-name="{{ item.name }}">
                        Editar
                    </p>
                    <hr>
                    <p class="p_actions" id="delete_machinery_brand_{{ item.id_machinery_brand }}">Excluir</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h1>Tipos de máquinas</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
            <tr>
                <form action="maquinario-gerenciamento-type" method="post">
                    <td class="Margin_Padding">
                        0<input type="hidden" name="id_machinery_type" id="id_machinery_type_form"></td>
                    <td class="Margin_Padding">
                        <input type="text" name="name" value="" class="input-value semBack-white" id="type_name">
                    </td>
                    <td class="Margin_Padding">
                        <input type="submit" value="Adicionar" id="btn-submit" name="button"
                            class="btn-submit input-value semBack-white">
                    </td>
                </form>
            </tr>
            {% for item in list_id_machinery_type %}
            <tr>
                <td class="Margin_Padding">{{ item.id_machinery_type}}</td>
                <td class="Margin_Padding">{{ item.name }}</td>
                <td class="Margin_Padding">
                    <p class="btn_edit_type" data-id="{{ item.id_machinery_type }}" data-name="{{ item.name }}">
                        Editar
                    </p>
                    <hr>
                    <p class="p_actions" id="delete_machinery_type_{{item.id_machinery_type}}">Excluir</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <footer>
        <p>© 2025 Sistema Inteligente | Desenvolvido por JoSa | LuRo | LuRi | LiFe </p>
    </footer>

    <div id="deleteConfirmationModal"
        style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:1000; justify-content:center; align-items:center;">
        <div style="background:white; padding:20px; border-radius:5px; max-width:400px; width:90%; text-align:center;">
            <h3 id="modalTitle">Confirmação de Deleção</h3>
            <p id="modalBody">Deseja realmente deletar este item?</p>

            <button id="confirmDeleteButton"
                style="background:red; color:white; padding:10px 15px; border:none; border-radius:3px; margin-right:10px; cursor:pointer;">
                Deletar
            </button>
            <button id="cancelDeleteButton"
                style="background:gray; color:white; padding:10px 15px; border:none; border-radius:3px; cursor:pointer;">
                Cancelar
            </button>

        </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/popup_deletar.js')}}"></script>

</body>

</html>